<ion-header>
  <ion-toolbar>
    <ion-title>
      Add food
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Add food to freezer</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="form">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Title</ion-label>
                <ion-input type="text" formControlName="foodName"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Date added in freezer</ion-label>
                <ion-datetime display-format="YYYY MMMM DD" min="2019-03-01" formControlName="datePlacedInFreezer"></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button (click)="add()" expand="full" [disabled]="!this.form.valid">add</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
  <div *ngIf="isLoading" text-center>
    <ion-spinner name="crescent"></ion-spinner>
  </div>
</ion-content>